.mt-6{
    margin-top: 5rem;
}

.mb-6{
    margin-bottom: 5rem;
}

.undrop{
    display: flex !important;
}
.drop{
    display: none !important;
}

::-webkit-scrollbar {
    display: none !important;
}

@media (max-width: 800px) {
    .drop{
        display: flex !important;
    }
    .dropbar{
        display: block;
    }
    .undrop{
        display: none !important;
    }
}

@media (max-width: 575px) {
    .drop{
        width: 100%;
    }
    .dropbar{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .mylink{
        width: 45%;
    }
}